@using iFood.ViewModels


@model ProfileUserViewModel

<style>
    #formContainer {
    background-color: rgba(2, 28, 46, 0.395); /* Màu xanh dương */
    padding: 20px;
    border-radius: 10px;
    
    }
    #boderx
    {
        border-radius: 15px;
    }
    .position-relative {
        position: relative;
    }

    /* Định vị biểu tượng mắt bên trong input */
    .field-icon {
        position: absolute;
        top: 50%;
        right: 10px; /* Điều chỉnh khoảng cách của icon từ cạnh phải */
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 18px; /* Điều chỉnh kích thước biểu tượng mắt */
    }

    /* Đảm bảo input không bị che phủ bởi icon */
    .form-control {
        padding-right: 40px; /* Cung cấp khoảng trống cho biểu tượng mắt bên trong */
    }

    .button-container {
        display: flex;
        gap: 10px;
    }

    .arrow-button {
        width: 60px;
        height: 60px;
        background-color: #ccc;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        position: relative;
        transition: background-color 0.3s;
    }

    .arrow-button:hover {
        background-color: #2196F3;
    }

</style>

<section>
     @if(TempData["Error"] != null)
    {
        <div class="col-md-12 alert alert-danger">
            <span><b>Sorry!</b> - @TempData["Error"]</span>
        </div>
    }
   <div class="container d-flex align-items-center justify-content-center min-vh-100" id="formContainer">
        <div class="row">
            <div class="col-md-4 text-center mb-4 mb-md-0">
                <h2 class="text-white mb-4">Change Avatar</h2>
                    <div class="form-group">
                        <img src="https://placehold.co/300x300" alt="Avatar of a woman with blonde hair wearing a blue sweater" class="img-fluid rounded mb-4">
                    </div>
                <button class="btn btn-custom btn-block">UPLOAD NEW PHOTO</button>
            </div>
            <div class="col-md-6">

                <form asp-action="Profile" method="post">
                    <div class="col-md-12">
                        <h2 class="text-white mb-4">Account Settings</h2>
                        <div asp-validation-summary="ModelOnly" class="text-danger">

                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Name" class="form-control" type="text"/>
                        <label asp-for="Name" >User name</label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Email" class="form-control" type="email" readonly>
                        <label asp-for="Email" >Email address</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3 position-relative">
                        <input asp-for="Password" id="password-field" class="form-control" type="password" />
                        <label asp-for="Password">Password</label>
                        <div class="invalid-feedback" data-sb-feedback="password-field:required">A password is required.</div>
                        <span class="fa fa-fw fa-eye field-icon toggle-password" data-toggle="password-field"></span>
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <small class="form-text text-muted">Leave blank if you don't want to change your password.</small>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Phone" class="form-control" type="phone"/>
                        <label asp-for="Phone" >Phone</label>
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>

                    <div class="form-group justify-content-between">
                        <button class="btn btn-primary btn-block mb-3" type="submit">UPDATE YOUR PROFILE</button>
                        <button class="btn btn-primary btn-block mb-3">DELETE YOUR ACCOUNT</button>
                    </div>


                </form>
            </div>



        </div>
    </div>
</section>
<script>
    document.querySelectorAll('.toggle-password').forEach(item => {
        item.addEventListener('click', function () {
            var passwordField = document.getElementById(this.getAttribute('data-toggle'));
            if (passwordField) {
                passwordField.type = passwordField.type === 'password' ? 'text' : 'password';
                this.classList.toggle('fa-eye');
                this.classList.toggle('fa-eye-slash');
            }
        });
    });

</script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}