@using iFood.Data.Enum
@using iFood.Extensions
@using iFood.ViewModels
@using iFood.Models
@model IndexOrderViewModel


@functions {
    public string GetStatusColor(iFood.Data.Enum.Status status)
    {
        return status switch
        {
            iFood.Data.Enum.Status.PendingConfirmation => "orange", 
            iFood.Data.Enum.Status.Shipping => "blue", 
            iFood.Data.Enum.Status.Delivered => "green", 
            iFood.Data.Enum.Status.Completed => "purple", 
            iFood.Data.Enum.Status.Canceled => "red", 
            iFood.Data.Enum.Status.ReturnedOrRefunded => "gray", 
            _ => "lightgray" 
        };
    }

    public string GetStatusIcon(iFood.Data.Enum.Status status)
    {
        return status switch
        {
            iFood.Data.Enum.Status.PendingConfirmation => "bi-clock", 
            iFood.Data.Enum.Status.Shipping => "bi-truck", 
            iFood.Data.Enum.Status.Delivered => "bi-check-circle", 
            iFood.Data.Enum.Status.Completed => "bi-check-all", 
            iFood.Data.Enum.Status.Canceled => "bi-x-circle", 
            iFood.Data.Enum.Status.ReturnedOrRefunded => "bi-arrow-repeat", 
            _ => "bi-question-circle" 
        };
    }
}



<section>
    <div class="container mt-5">
        <div class="bg-primary text-white p-4 rounded-top">
            <h1 class="text-center">Order List</h1>
        </div>

        <div class="container">
       
           <div id="order-container">
                @await Html.PartialAsync("_OrderListPartial", Model)
            </div>

        </div>
    </div>
</section>

