@using iFood.Models.Momo;

@model MomoExecuteResponseModel

<h1>Name of Product: @Model.FullName</h1>
<p> Price: @Model.Amount</p>
<p> Id of Product: @Model.OrderId</p>
<p> Information: @Model.OrderInfo</p>


